NODE-RED/FLOW NODE-RED FORMATADO.json
[
    {
        "id": "a5975144ae9a0dd0",
        "type": "tab",
        "label": "Fluxo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f77f77b8f212592a",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#4d82ff",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Inovatec-IOT",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "false",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 2,
                "py": 0
            }
        }
    },
    {
        "id": "f7b102ca08421be3",
        "type": "ui_tab",
        "name": "Sensores Campo",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "af7ca349abbdc48b",
        "type": "ui_group",
        "name": "I/Os",
        "tab": "f7b102ca08421be3",
        "order": 1,
        "disp": true,
        "width": 8,
        "collapse": true,
        "className": ""
    },
    {
        "id": "df6aa25461fb814f",
        "type": "ui_group",
        "name": "Dados Analógicos",
        "tab": "f7b102ca08421be3",
        "order": 2,
        "disp": true,
        "width": 14,
        "collapse": false,
        "className": ""
    },
    {
        "id": "7c9dba92cd75120d",
        "type": "ui_tab",
        "name": "Gráficos",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "18c7712568fb8145",
        "type": "ui_group",
        "name": "",
        "tab": "7c9dba92cd75120d",
        "order": 1,
        "disp": true,
        "width": "15",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e43ddd7cd3a240bc",
        "type": "ui_group",
        "name": "",
        "tab": "7c9dba92cd75120d",
        "order": 2,
        "disp": true,
        "width": 15,
        "collapse": false,
        "className": ""
    },
    {
        "id": "4fc2473be720e1a7",
        "type": "mqtt-broker",
        "name": "",
        "broker": "test.mosquitto.org",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "57951e985337d2c6",
        "type": "ui_tab",
        "name": "Norvi WIFI",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "5b53bbf8dfbcf6bf",
        "type": "ui_group",
        "name": "Norvi I/Os",
        "tab": "57951e985337d2c6",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": true,
        "className": ""
    },
    {
        "id": "51a2cd2faadab284",
        "type": "ui_group",
        "name": "Leituras Analógicas",
        "tab": "57951e985337d2c6",
        "order": 2,
        "disp": true,
        "width": 14,
        "collapse": false,
        "className": ""
    },
    {
        "id": "bed1ba59628116e2",
        "type": "ui_tab",
        "name": "Gráfico Corrente NORVI-WIFI",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "428383a427883204",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "bed1ba59628116e2",
        "order": 1,
        "disp": true,
        "width": 15
    },
    {
        "id": "20311f97b0553761",
        "type": "ui_tab",
        "name": "Análise de Eficiência",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "52210086259e879a",
        "type": "ui_group",
        "name": "Entradas de Dados",
        "tab": "20311f97b0553761",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "25255474a584347c",
        "type": "ui_group",
        "name": "Resultados da Análise",
        "tab": "20311f97b0553761",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "e47f6d302642fbaa",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": false
    },
    {
        "id": "59491485092e9718",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "237a65b25e47c50b",
        "type": "MySQLdatabase",
        "name": "INOVATEC_IOT",
        "host": "localhost",
        "port": "3306",
        "db": "INOVATEC_IOT",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "c4cbda0b34e65b53",
        "type": "function",
        "z": "a5975144ae9a0dd0",
        "name": "Direcionamento de dados",
        "func": "const dados = msg.payload;\n\nlet dashboardDados = {};\nlet entradas = {};\n\nentradas.DI0 = dados.entrada_digital_1;\nentradas.DI1 = dados.entrada_digital_2;\nentradas.DI2 = dados.entrada_digital_3;\nentradas.DI3 = dados.entrada_digital_4;\nentradas.DI4 = dados.entrada_digital_5;\nentradas.DI5 = dados.entrada_digital_6;\n\nif (dados.Corrente === undefined){ \n    dashboardDados.corrente = null\n}else{\n    dashboardDados.corrente = dados.Corrente\n    flow.set(\"corrente\", dashboardDados.corrente)\n}\n\nif(dados.Pressao === undefined){\n    dashboardDados.pressao = null\n}else{\n    dashboardDados.pressao = dados.Pressao;\n    flow.set(\"pressao\", dashboardDados.pressao)\n}\n\nif(dados.vazao === undefined){\n    dashboardDados.vazao = null\n}else{\n    dashboardDados.vazao = dados.vazao;\n    flow.set(\"vazao\", dashboardDados.vazao)\n}\n\n\ndashboardDados.entradas = entradas;\nmsg.payload = dashboardDados;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 990,
        "y": 20,
        "wires": [
            [
                "f216a40679ba724d",
                "4d5d4ef07a06e6d7",
                "034c7d427f37e7e5",
                "61d60d1b6e6059f5",
                "c467d5cf505db77d",
                "e5121302a1b933a8",
                "d8aeeb67f185e52c",
                "1ae70b969ec239da",
                "78f83116374d5c10"
            ]
        ]
    },
    {
        "id": "7f44db27d360ec6b",
        "type": "ui_led2",
        "z": "a5975144ae9a0dd0",
        "order": 2,
        "group": "5b53bbf8dfbcf6bf",
        "width": 6,
        "height": 1,
        "label": "Entrada Digital 0 ",
        "property": "payload",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#008000",
                "value": "1",
                "valueType": "str"
            },
            {
                "color": "#ff0000",
                "value": "0",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "LED - DI0",
        "x": 1300,
        "y": 80,
        "wires": []
    },
    {
        "id": "43fb5289d3701ca0",
        "type": "ui_led2",
        "z": "a5975144ae9a0dd0",
        "order": 3,
        "group": "5b53bbf8dfbcf6bf",
        "width": 6,
        "height": 1,
        "label": "Entrada Digital 1",
        "property": "payload",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#008000",
                "value": "1",
                "valueType": "str"
            },
            {
                "color": "#ff0000",
                "value": "0",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "LED - DI1",
        "x": 1300,
        "y": 120,
        "wires": []
    },
    {
        "id": "60e6c508ad7deea7",
        "type": "ui_led2",
        "z": "a5975144ae9a0dd0",
        "order": 4,
        "group": "5b53bbf8dfbcf6bf",
        "width": 6,
        "height": 1,
        "label": "Entrada Digital 2",
        "property": "payload",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#008000",
                "value": "1",
                "valueType": "str"
            },
            {
                "color": "#ff0000",
                "value": "0",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "LED - DI2",
        "x": 1300,
        "y": 160,
        "wires": []
    },
    {
        "id": "e9c1da5b61df2a29",
        "type": "ui_led2",
        "z": "a5975144ae9a0dd0",
        "order": 5,
        "group": "5b53bbf8dfbcf6bf",
        "width": 6,
        "height": 1,
        "label": "Entrada Digital 3",
        "property": "payload",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#008000",
                "value": "1",
                "valueType": "str"
            },
            {
                "color": "#ff0000",
                "value": "0",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "LED - DI3",
        "x": 1300,
        "y": 200,
        "wires": []
    },
    {
        "id": "61869bd6bec91ba0",
        "type": "ui_led2",
        "z": "a5975144ae9a0dd0",
        "order": 6,
        "group": "5b53bbf8dfbcf6bf",
        "width": 6,
        "height": 1,
        "label": "Entrada Digital 4",
        "property": "payload",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#008000",
                "value": "1",
                "valueType": "str"
            },
            {
                "color": "#ff0000",
                "value": "0",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "LED - DI4",
        "x": 1300,
        "y": 240,
        "wires": []
    },
    {
        "id": "764ee88cc58b0f65",
        "type": "ui_led2",
        "z": "a5975144ae9a0dd0",
        "order": 7,
        "group": "5b53bbf8dfbcf6bf",
        "width": 6,
        "height": 1,
        "label": "Entrada Digital 5",
        "property": "payload",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#008000",
                "value": "1",
                "valueType": "str"
            },
            {
                "color": "#ff0000",
                "value": "0",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "LED - DI5",
        "x": 1300,
        "y": 280,
        "wires": []
    },
    {
        "id": "d37c62e604747206",
        "type": "ui_chart",
        "z": "a5975144ae9a0dd0",
        "name": "",
        "group": "428383a427883204",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Gráfico Corrente 1",
        "chartType": "line",
        "legend": "false",
        "xformat": "data",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0 ",
        "ymax": "150 ",
        "removeOlder": "2",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#078be9",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1330,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "b5e3023b2e6ee54d",
        "type": "ui_gauge",
        "z": "a5975144ae9a0dd0",
        "name": "",
        "group": "51a2cd2faadab284",
        "order": 2,
        "width": 7,
        "height": 6,
        "gtype": "gage",
        "title": "Pressão",
        "label": "",
        "format": "{{value}}bar",
        "min": "0",
        "max": "150",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1300,
        "y": 400,
        "wires": []
    },
    {
        "id": "e17b411a11af0da8",
        "type": "ui_chart",
        "z": "a5975144ae9a0dd0",
        "name": "",
        "group": "428383a427883204",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Gráfico Pressão",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0 ",
        "ymax": "50",
        "removeOlder": "2",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1320,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "2bc9537afb0fa4ae",
        "type": "mqtt in",
        "z": "a5975144ae9a0dd0",
        "name": "",
        "topic": "texto_norvi_wifi",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "4fc2473be720e1a7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 600,
        "y": 20,
        "wires": [
            [
                "c4cbda0b34e65b53"
            ]
        ]
    },
    {
        "id": "1d9c84faeed95c2b",
        "type": "ui_gauge",
        "z": "a5975144ae9a0dd0",
        "name": "",
        "group": "51a2cd2faadab284",
        "order": 2,
        "width": 7,
        "height": 6,
        "gtype": "gage",
        "title": "Vazão",
        "label": "",
        "format": "{{value}}m³/h",
        "min": "0",
        "max": "1000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1290,
        "y": 480,
        "wires": []
    },
    {
        "id": "7a0884936ddfd202",
        "type": "ui_chart",
        "z": "a5975144ae9a0dd0",
        "name": "",
        "group": "428383a427883204",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Gráfico Vazão",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0 ",
        "ymax": "1000",
        "removeOlder": "30",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1320,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "8002da8ed509a418",
        "type": "mysql",
        "z": "a5975144ae9a0dd0",
        "mydb": "237a65b25e47c50b",
        "name": "",
        "x": 740,
        "y": 100,
        "wires": [
            [
                "2c087b7eec4dfecb"
            ]
        ]
    },
    {
        "id": "dad46d64af37e13e",
        "type": "inject",
        "z": "a5975144ae9a0dd0",
        "name": "SELECT",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "SELECT * FROM EFETIVO_MOTOR",
        "x": 120,
        "y": 380,
        "wires": [
            [
                "02f48ccc258b6cf4"
            ]
        ]
    },
    {
        "id": "02f48ccc258b6cf4",
        "type": "mysql",
        "z": "a5975144ae9a0dd0",
        "mydb": "237a65b25e47c50b",
        "name": "",
        "x": 320,
        "y": 360,
        "wires": [
            [
                "eb6ad90a24b60c69"
            ]
        ]
    },
    {
        "id": "7830304965ee2a40",
        "type": "inject",
        "z": "a5975144ae9a0dd0",
        "name": "DELETE",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "DELETE FROM EFETIVO_MOTOR",
        "x": 120,
        "y": 340,
        "wires": [
            [
                "02f48ccc258b6cf4"
            ]
        ]
    },
    {
        "id": "3070a7135262f0e0",
        "type": "inject",
        "z": "a5975144ae9a0dd0",
        "name": "GATILHO QUERY EFETIVO_MOTOR",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "15",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "insert",
        "payload": "",
        "payloadType": "str",
        "x": 300,
        "y": 20,
        "wires": [
            [
                "9478d71e7dc64b2e"
            ]
        ]
    },
    {
        "id": "6fc97a31e4577acc",
        "type": "ui_gauge",
        "z": "a5975144ae9a0dd0",
        "name": "",
        "group": "51a2cd2faadab284",
        "order": 1,
        "width": 7,
        "height": 6,
        "gtype": "gage",
        "title": "Corrente Motor 1",
        "label": "",
        "format": "{{value}} A",
        "min": "0",
        "max": "150",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1330,
        "y": 320,
        "wires": []
    },
    {
        "id": "f216a40679ba724d",
        "type": "function",
        "z": "a5975144ae9a0dd0",
        "name": "DI0",
        "func": "const DI0 = msg.payload.entradas.DI0;\nmsg.payload = DI0;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1150,
        "y": 80,
        "wires": [
            [
                "7f44db27d360ec6b"
            ]
        ]
    },
    {
        "id": "4d5d4ef07a06e6d7",
        "type": "function",
        "z": "a5975144ae9a0dd0",
        "name": "DI1",
        "func": "const DI1 = msg.payload.entradas.DI1;\nmsg.payload = DI1;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1150,
        "y": 120,
        "wires": [
            [
                "43fb5289d3701ca0"
            ]
        ]
    },
    {
        "id": "034c7d427f37e7e5",
        "type": "function",
        "z": "a5975144ae9a0dd0",
        "name": "DI2",
        "func": "const DI2 = msg.payload.entradas.DI2;\nmsg.payload = DI2;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1150,
        "y": 160,
        "wires": [
            [
                "60e6c508ad7deea7"
            ]
        ]
    },
    {
        "id": "61d60d1b6e6059f5",
        "type": "function",
        "z": "a5975144ae9a0dd0",
        "name": "DI3",
        "func": "const DI3 = msg.payload.entradas.DI3;\nmsg.payload = DI3;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1150,
        "y": 200,
        "wires": [
            [
                "e9c1da5b61df2a29"
            ]
        ]
    },
    {
        "id": "c467d5cf505db77d",
        "type": "function",
        "z": "a5975144ae9a0dd0",
        "name": "DI4",
        "func": "const DI4 = msg.payload.entradas.DI4;\nmsg.payload = DI4;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1150,
        "y": 240,
        "wires": [
            [
                "61869bd6bec91ba0"
            ]
        ]
    },
    {
        "id": "e5121302a1b933a8",
        "type": "function",
        "z": "a5975144ae9a0dd0",
        "name": "DI5",
        "func": "const DI5 = msg.payload.entradas.DI5;\nmsg.payload = DI5;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1150,
        "y": 280,
        "wires": [
            [
                "764ee88cc58b0f65"
            ]
        ]
    },
    {
        "id": "78f83116374d5c10",
        "type": "function",
        "z": "a5975144ae9a0dd0",
        "name": "Corrente",
        "func": "const corrente = msg.payload.corrente;\nmsg.topic = corrente\nmsg.payload = corrente.toFixed(2);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1160,
        "y": 340,
        "wires": [
            [
                "d37c62e604747206",
                "6fc97a31e4577acc"
            ]
        ]
    },
    {
        "id": "d8aeeb67f185e52c",
        "type": "function",
        "z": "a5975144ae9a0dd0",
        "name": "Pressão",
        "func": "const pressao = msg.payload.pressao;\nmsg.payload = pressao.toFixed(2);\nmsg.topic = pressao\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1160,
        "y": 400,
        "wires": [
            [
                "b5e3023b2e6ee54d",
                "e17b411a11af0da8"
            ]
        ]
    },
    {
        "id": "1ae70b969ec239da",
        "type": "function",
        "z": "a5975144ae9a0dd0",
        "name": "Vazao",
        "func": "const vazao = msg.payload.vazao;\nmsg.payload = vazao.toFixed(2);\nmsg.topic = vazao\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1150,
        "y": 480,
        "wires": [
            [
                "1d9c84faeed95c2b",
                "7a0884936ddfd202"
            ]
        ]
    },
    {
        "id": "9478d71e7dc64b2e",
        "type": "function",
        "z": "a5975144ae9a0dd0",
        "name": "QUERY EFETIVO_MOTOR",
        "func": "const corrente = flow.get(\"corrente\")\nif(corrente === undefined){\n  node.warn(\"corrente undefined : \" + corrente)\n  return null\n}else{\n  node.warn(\"Valor lido: \" + corrente);\n}\n\nif(msg.topic === \"insert\"){\n    const tableName = \"EFETIVO_MOTOR\"\n    \n\n    let query = `\n      INSERT INTO ${tableName} (TIMESTAMP, ID_PNL, NOME_BP, CORRENTE_LEITURA, FREQUENCIA_LEITURA)\n      VALUES (CURRENT_TIMESTAMP(), 1212, 'BP1', ${corrente}, 60)\n    `\n    msg.payload = query\n    msg.topic = query\n  return msg;\n  \n}\n\n\n\n\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 80,
        "wires": [
            [
                "8002da8ed509a418"
            ]
        ]
    },
    {
        "id": "2c087b7eec4dfecb",
        "type": "debug",
        "z": "a5975144ae9a0dd0",
        "name": "debug querys",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 100,
        "wires": []
    },
    {
        "id": "eb6ad90a24b60c69",
        "type": "debug",
        "z": "a5975144ae9a0dd0",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 360,
        "wires": []
    },
    {
        "id": "4b8e498806bdebf3",
        "type": "inject",
        "z": "a5975144ae9a0dd0",
        "name": "GATILHO QUERY EFETIVO_HIDRAULICO",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "15",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "insert",
        "payload": "",
        "payloadType": "str",
        "x": 290,
        "y": 200,
        "wires": [
            [
                "0254910fd336362b",
                "c8d7dd0ed3608c9b"
            ]
        ]
    },
    {
        "id": "0254910fd336362b",
        "type": "function",
        "z": "a5975144ae9a0dd0",
        "name": "QUERY EFETIVO_HIDRAULICO",
        "func": "const pressao = flow.get(\"pressao\")\nconst vazao = flow.get(\"vazao\")\nif(pressao === undefined){\n  node.warn(\"pressao undefined : \" + pressao)\n  return null\n}else{\n  node.warn(\"Valor lido: \" + pressao);\n}\n\nif(vazao === undefined){\n  node.warn(\"vazao undefined : \" + vazao)\n  return null\n}else{\n  node.warn(\"Valor lido: \" + vazao);\n}\n\nif(msg.topic === \"insert\"){\n    const tableName = \"EFETIVO_HIDRAULICO\"\n    \n    let query = `\n      INSERT INTO ${tableName} (TIMESTAMP, ID_PNL, PRESSAO_LEITURA, VAZAO_LEITURA)\n      VALUES (CURRENT_TIMESTAMP(), 1212, ${pressao}, ${vazao})\n    `\n    msg.payload = query\n    msg.topic = query\n  return msg;\n  \n}\n\n\n\n\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 140,
        "wires": [
            [
                "8002da8ed509a418"
            ]
        ]
    },
    {
        "id": "c8d7dd0ed3608c9b",
        "type": "function",
        "z": "a5975144ae9a0dd0",
        "name": "function 1",
        "func": "\nif(msg.topic === \"insert\"){\n    const tableName = \"EFETIVO_MEDIDOR\"\n\n    let query = `\n        insert into ${tableName} \n        VALUES(current_timestamp(), 1212, 150.00, 210.00, 1, 0.89);\n    `\n    msg.payload = query\n    msg.topic = query\n  return msg;\n  \n}\n\n\n\n\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 220,
        "wires": [
            [
                "8002da8ed509a418"
            ]
        ]
    },
    {
        "id": "b3c3fd5176466676",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6",
            "@flowfuse/node-red-dashboard": "1.28.0",
            "node-red-node-mysql": "2.0.0",
            "node-red-contrib-ui-led2": "0.4.19"
        }
    }
]